@charset "UTF-8";

/*共通部分*/
html {
    font-size: 100%;
}
body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* ロゴレイアウト*/
.align-center {
    text-align: center;
}
/*ヘッダー*/
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 210px;
}

/*レイアウト*/
.align-center {
    text-align: center;
}

/*見出し*/
.font-english {
    font-family: 'Philosopher', sans-serif;
    font-weight: normal;
}
.page-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
.heading-large {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
/*ヘッダー*/
.page-header {
    padding-top: .5rem;
}
.logo {
    width: 210px;
}
.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a {
    color: #432;
}
.main-nav a:hover {
    color: #0bd
}
/*背景画像広げる*/
.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}
.cover-home {
    background-image: url(../wcbcafe/images/cover-home-s.webp);
}

.about {
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 4rem;
}
.about p {
    margin-bottom: 3rem;
}
/*ボタン*/
.btn {
    display: inline-block;
    font-size: 1.5rem;
    background-color: #0bd;
    color: #fff;
    border-radius: 8px;
    padding: .75rem 1.5rem;
    transition: .5s;
}
/*フッター*/
.info {
    width: 100%;
    max-width: 544px;
    margin: auto;
    padding: 0 1.5rem;
    border-spacing: 0;
}
.info th,
.info td {
    border-bottom: 1px solid #c9c2bc;
}
.info th {
    text-align: left;
    font-weight: normal;
    padding: 1rem;
}
.info td {
    padding: 1rem 0;
}